
work/lor7.rds
work/periods_edges.csv
work/cultures_edges.csv
results/relationships.gpkg
work/lor1.rds
work/lor2.rds
work/lor3.rds
work/lor4.rds
work/lor5.rds
work/lor6.rds
work/selected_cultures_and_periods_edges.csv
map_v3
.RData
.RData
.Rhistory
.RData
paleo_cultural_networks.zip
.RData
.RData
